.bg{
    color: white;
    background-image: url("pexels-pixabay-531880.jpg");
    background-size: cover;
    height: 100vh;
}

.head{
    text-align: center;
    font-size: 100px;
    color: blue;
    /* padding-top: 500px; */
}
